* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    background-color: red;
    color: yellow;
    font-size: 100px;
    text-align: center;
    display: block;
    border-radius:100px;
    width: 50%;
    padding: 20px;
    border: 2px solid red;
    cursor: pointer;
    box-shadow: 0px 4px 20px rgb(160, 0, 0);
    transition: 500ms;
}

button:hover{
    transform: translateY(-10px);
}